:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    /* variable declaration */

    /* firefox scrollbars */
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    color: #000000;
    background-color: #ffffff;
}

/* adding scrollbars for most browsers */
body::-webkit-scrollbar {width: .4rem;}
body::-webkit-scrollbar-track {background-color: white;}
body::-webkit-scrollbar-thumb {background-color: black;}

/* nav styling in separate css file */

/* main styling */

main {
    margin-left: 6rem;
    padding: 1rem;
}