@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    /* variable declaration */

    /* firefox scrollbars */
    scrollbar-width: thin;
    scrollbar-color: #163A5F #fff;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    color: #000000;
    background-color: #ffffff;
}

/* adding scrollbars for most browsers */

body::-webkit-scrollbar {width: .4rem;}
body::-webkit-scrollbar-track {background-color: white;}
body::-webkit-scrollbar-thumb {background-color: #163A5F;}

/* nav styling in separate css file */

/* constant text styling */
h3 {
    color: transparent;
    background-image: linear-gradient(90deg, #45EBA5, #163A5F  );
    background-clip: text;
    -webkit-background-clip: text;
}

/* main styling */
main {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
    column-gap: 1rem;
    row-gap: 2rem;
    /* place-items: center; */

    margin-left: 6vw;
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 6;

    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;

    background-color: #45EBA5;
    border-radius: 6px;
    width: 94vw;
}

.header-img {
    width: 19vw;
    height: auto;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title {
    margin: 0;
    text-align: center;
    font-size: 9vw;
    font-family: Lobster, sans-serif;
}

.header-subtitle {
    margin: 0;
    text-align: center;

    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.intro-header {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    font-size: 5rem;
    text-align: center;
}

.intro-text1 {
    grid-row: 2 / 3;
    grid-column: 3 / 5;  
    
    width: 100%;
    font-size: 1.5rem;
    text-align: center;

}

hr.intro-text {
    grid-row: 3 / 4;
    grid-column: 1 / 6;

    width: calc(94vw - 4rem);
}

.intro-text2 {
    grid-row: 4 / 5;
    grid-column: 2 / 5;  
    
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.main-topic-intro {
    grid-row: 5 / 6;
    grid-column: 2 / 5;

    margin: none;

    text-align: center;
    font-size: 3rem;
}

.surgical-mask-image {
    grid-row: 6 / 7;
    grid-column: 2 / 3;

    width: 20rem;
}

.surgical-mask-text {
    grid-row: 6 / 7;
    grid-column: 3 / 5;

    font-size: 1.5rem;
}

.cloth-mask-image {
    grid-row: 7 / 8;
    grid-column: 4 / 5;

    width: 20rem;
}

.cloth-mask-text {
    grid-row: 7 / 8;
    grid-column: 2 / 4;

    font-size: 1.5rem;
}

iframe.cloth-mask {
    grid-row: 8 / 9;
    grid-column: 2 / 5;

    width: 100%;
}

.n95-mask-image {
    grid-row: 9 / 10;
    grid-column: 2 / 3;

    width: 20rem;
}

.n95-mask-text {
    grid-row: 9 / 10;
    grid-column: 3 / 5;

    font-size: 1.5rem;
}

.shield-mask-image {
    grid-row: 10 / 11;
    grid-column: 4 / 5;

    width: 20rem;
}

.shield-mask-text {
    grid-row: 10 / 11;
    grid-column: 2 / 4;

    font-size: 1.5rem;
}

.summary-header {
    font-size: 4rem;
    text-align: center;
}

.tip-header {
    font-size: 4rem;
    text-align: center;
}

.summary-text {
    grid-row: 11 / 12;
    grid-column: 2 / 3;

    font-size: 1.5rem;
}

.tip-text {
    grid-row: 11 / 12; 
    grid-column: 3 / 5;

    font-size: 1.5rem;
}

.references {
    grid-row: 12 / 13;
    grid-column: 2 / 5;

    border: 3px solid black;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.references h3 {
    font-size: 2.5rem;
}

footer {
    grid-row: 13 / 14;
    grid-column: 1 / 6;

    text-align: center;
    background-color: #45EBA5;
}
