nav {
    width: 6vw;
    height: 100vh;
    position: fixed;
    z-index: 100;

    background-color: #163A5F;
    transition: width 200ms ease;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:hover {
    background-color: steelblue;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-item.home {
    background-color: steelblue;
}

.nav-item.home:hover {
    background-color: violet;
    color: black;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 6rem;
}

.link-text {
    display: none;
    opacity: 0;
    margin-left: 1rem;

    transition: opacity 200ms ease 200ms;
}

.material-icons.large-icons {
    font-size: 4vw;
    margin: 0 1vw;
}

/* changing the link states */
.nav-link:link {color: white; text-decoration: none;}
.nav-link:visited {color: white;}

/* hover effect */
nav:hover {
    width: 18rem;
    box-shadow: 2px 2px 2px black;
}

nav:hover .link-text {
    display: block;
    opacity: 100%;
}


